$largeur-container: 1200px;

//couleurs
$red: rgba(253,29,29,1);
$black: #000000;
$gray: #605656;
$silver: rgba(244, 240, 240, 0.5);
$silver2: rgb(244, 240, 240);
$purple: rgb(202,60,255);
$purple2: rgba(202,60,255,1);
$yellow: rgba(252,176,69,1);
$success: #09c372;
$error: #ff3860;

//width
$large-width: 1080px;
$medium-width: 960px;
$small-width: 480px;

//fonts
$font: 'Kumbh Sans', sans-serif;

//sizes
$font-size: 2em;
$margin: 2em;