@import 'variables';
@import 'button';
@import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $purple;
  background: radial-gradient(circle, $purple2 23%, $red 75%, $yellow 100%);
  font-family: $font;
}

.container {
  width: 90%;
  max-width: $largeur-container;
	margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-size: .8em;
  margin-bottom: 2em;

  .logo {
    width: 80%;
  }

  .menu__navbar {
    ol {
      display: flex;
      text-decoration: none;
      li {
        text-decoration: none;
        padding: 2em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        .menu__icon {
          width: 1.2em;
        }
      }
    }
    a {
      color: $black;
      font-size: 1.4em;
      margin-left: .5em;
    }
    .arrow {
      width: 2em;
      margin-left: 1em;
    }
  }
  .menu__hamburger {
    display: none;
  }
}


// Carousel -----------------------

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $silver;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: $gray;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2em 0 1em 1em;
  background-color: $yellow;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


// Commentaires ----------

.commentaires {
  background-color: $silver;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 2em;

  p {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 50%;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
  }
}

.textInput {
  padding: .8em;
  font-size: 1.2em;
}

// Signature ----------

.signature {
  display: flex;
  justify-content: center;
  align-items: center;

  .signature__btn {
    @extend .bouton;
    margin-left: 4em;
  }
}

// Section flexbox ---------

.sectionFlexbox {
  text-align: center;
  margin-top: 8em;
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.4em;
    margin-bottom: 2.8em;
  }

  .flexbox {
    display: flex;
    .card {
      margin: .2em;

      img {
        border-radius: 100%;
      }
    }
  }
}

// Section Grid ---------

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: repeat(14, 80px);
  grid-gap: 10px;
  margin-left: 5.5em;
  .grid-item {
    overflow: hidden;
    background-color: #717171;
    color: #ed1b24;
    img {
      width: 125%;
      height: 100%;
    }
  }
  .grid-item-1 {
    grid-row: 3 / 6;
    grid-column: 1 / 4;
  }
  .grid-item-2 {
    grid-row: 2 / 5;
    grid-column: 4 / 10; 
  }
  .grid-item-3 {
    grid-row: 5 / 7;
    grid-column: 4 / 6;
  }
  .grid-item-4 {
    grid-row: 5 / 8;
    grid-column: 6 / 12;
  }
  .grid-item-5 {
    grid-row: 3 / 5;
    grid-column: 10 / 12;
  }
  .grid-item-6 {
    grid-row: 4 / 7;
    grid-column: 12 / 14;
  }
}

// Section Pie chart ---------

.stats-section {
  display: flex;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  h3 {
    font-size: 2em;
  }
  .right {
    margin-left: 2em;
  }
  .stats {
    display: flex;
  }
  .stats__num {
    font-size: 2.5em;
    margin-right: 1em;
  }
  .stats-bouton {
    margin-top: 4em;
  }
  .bouton {
    text-decoration: none;
  }
}

// Cards ---------

.team-section {
  text-align: center;
  margin-top: 8em;
  margin-bottom: 4em;
  h5 {
    font-size: 2em;
    margin: 0;
    padding-right: 2em;
    margin-bottom: 0;
  }
  p {
    font-size: 1.2em;
  }
  .team {
    display: flex;
    justify-content: space-between;
    text-align: start;
    .icon {
      width: 1.8em;
      margin-right: .8em;
    }
    .team__card {
      flex-direction: column;
      @include myCard($silver);
      width: 23%;
      padding: .8em 2em .8em 2em; 
      border-radius: .8em;
      .card__icons {
        display: flex;
        align-items: flex-end;
        margin: .8em;
      }
    }
  }
  
}

// Map -----------

.map {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8em 0 8em 0 ;
  iframe {
    width: 100%;
    height: 62vh;
    position: relative;
  }
  .map__form {
    background-color: $silver2;
    position: absolute;
    height: 24em;
    border-radius: 1.2em;
    padding: 1.8em;
    margin-right: .8em;
    .margin--right {
      margin-right: 1em;
    }
    .margin--top {
      margin-top: 1em;
    }
    h6 {
      font-size: 2em;
      margin-top: 0;
      margin-bottom: 0;
    }
    p{
      font-size: .8em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .name {
      display: flex;
    }
    input {
      width: 100%;
      height: 2em;
      outline: 0;
    }
    .input-control.success {
      border-color: $success;
    }
    .input-control.error {
      border-color: $success;
    }
    .input-control .errorMessage {
      color: $error;
      font-size: 9px;
      height: 13px;
    }
    .midWidth {
      width: 90%;
    }
    .message {
      height: 6em;
    }
    .boutonMargin {
      margin-top: 2em;
    }
    .form__btn{
      margin-top: 1.5em;
      .bouton {
        margin-left: 0;
        text-decoration: none;
      }
    }
  }
}

// BottomMenu --------

.bottomMenu {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 8em;
  img {
    width: 20%;
  }
  .bottomMenu__link {
    font-size: .8em;
  }
  .bottomMenu__nav {
    display: flex;
    justify-content: center;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: $black;
    margin: 1em;
    font-size: 1.5em;
  }
}

// Footer ----------

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  margin-bottom: 1em;
  .icons {
    width: 2em;
    height: 2em;
  }
  .center {
    display: flex;
    align-items: center;
  }
  .footer--right {
    display: flex;
    align-items: center;
    img {
      margin-left: 1em;
    }
    a {
      margin-left: 1em;
      text-decoration: none;
      color: $black;
    }
  }
}

// @media screen and (min-width: 1080px) {
//   body {
// 		background-color: red;
// 	}
// }

@media screen and (min-width: 960px) and (max-width: 1080px) {
	body{
    .grid-container {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      .grid-item {
        margin-top: 2em;
      }
    }

    .team-section {
      display: flex;
      flex-direction: column;
      h5 {
        font-size: 4em;
        padding-right: 0;
      }
    }
    .stats-section {
      display: flex;
      flex-direction: column;
      text-align: center;
      .pie {
        order: 1;
      }
      .right {
        margin-left: 0;
      }
      h3 {
        font-size: 3em;
        margin-bottom: 1em;
      }
      p {
        font-size: larger;
        padding-left: 2em;
        padding-right: 2em;
      }
      .stats {
        margin-top: 2em;
        margin-left: 2em;
      }
    }
    .team {
      display: flex;
      flex-direction: column;
      width: 100%;
      .team__card {
        width: 90% !important;
        margin: 2em;
        display: flex;
        .card__header {
          margin-left: 2em;
        }
        .card__avatar {
          width: 25%;
        }
        .card--small {
          display: flex;
          align-items: center;
        }
        p {
          margin-top: 2em;
        }
        .card__icons {
          flex-direction: row-reverse;
        }
      }
    }
	}
}

@media screen and (min-width: 500px) and (max-width: 960px) {
	body{
    .container {
      width: 100%;
      max-width: $largeur-container;
      margin: 0 auto;
    }
    .menu {
      .menu__navbar {
        display: none;
      }
      .menu__hamburger {
        display: block;
        font-size: 6em;
        margin-top: .4em;
        margin-right: .5em;
      }
    }
    .commentaires {
      height: 25em;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      font-size: $font-size;
      p {
        margin: 0;
        width: 100%;
        padding-bottom: 4em;
        line-height: 1.4em;
      }
      .commentaires__form {
        display: flex;
        flex-direction: column;
        font-size: large;
        .commentaires__btn {
          width: 90%;
          margin: auto;
          margin-top: ($margin + 4);
        }
      }
    }
    .signature {
      display: flex;
      flex-direction: column;
      margin-bottom: 12em;
      img{
        width: 100%;
        padding: 2em;
      }
      .signature__form {
        width: 100%;
      }
      .signature__btn {
        margin-left: 2em;
        width: 90%;
      }
    }
    .sectionFlexbox {
      h2 {
        font-size: 5em;
        margin-bottom: 1em;
      }
      p {
        padding: 2em;
      }
      .flexbox {
        display: flex;
        flex-direction: column;
        .card__icon {
          width: 20em;
          margin-bottom: 2em;
        }
        h3 {
          font-size: 3em;
        }
        P {
          font-size: 2em;
        }
      }
    }
    .grid-container {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      padding: 2em;
      .grid-item {
        margin-top: 2em;
      }
    }
    .stats-section {
      display: flex;
      flex-direction: column;
      text-align: center;
      .pie {
        order: 1;
      }
      .right {
        margin-left: 0;
      }
      h3 {
        font-size: 3em;
        margin-bottom: 1em;
      }
      p {
        font-size: larger;
        padding-left: 2em;
        padding-right: 2em;
      }
      .stats {
        margin-top: 2em;
        margin-left: 2em;
      }
    }
    .team-section {
      display: flex;
      flex-direction: column;
      h5 {
        font-size: 4em;
        padding-right: 0;
      }
    }
    .team {
      display: flex;
      flex-direction: column;
      width: 100%;
      .team__card {
        width: 90% !important;
        margin: 2em;
        display: flex;
        .card__header {
          margin-left: 2em;
        }
        .card__avatar {
          width: 25%;
        }
        .card--small {
          display: flex;
          align-items: center;
        }
        p {
          margin-top: 2em;
        }
        .card__icons {
          flex-direction: row-reverse;
        }
      }
    }
    .map__form {
      .name {
        flex-direction: column;
        .midWidth {
          width: 100%;
          margin-top: 1em;
        }
      }
    }
    .bottomMenu {
      font-size: 2em;
      display: flex;
      justify-content: space-around;
      .logo {
        width: 25%;
      }
      .bottomMenu__nav {
        flex-direction: column;
      }
    }
  }
}  