$largeur-container: 1200px;
$red: #ed1b24;
$black: #000000;
$gray: #605656;
$silver: #f4f0f0;

// fonts:
// font-family: 'Kumbh Sans', sans-serif;

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  width: 90%;
  max-width: $largeur-container;
	margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;

  .logo {
    width: 200px
  }

  .mainMenu ol {
    display: flex;
    text-decoration: none;
    // background-color: $red;
  }
  li {
    text-decoration: none;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none
  }

  a {
    color: $black;
    font-size: 1.4em;
    margin-left: .4em;
  }
    
  
}


// Caroussel -----------------------

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  //right arrow too far right ---- need to be fix
  // margin-right: 25.5em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2em 0 1em 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


// Commentaires ----------

.commentaires {
  background-color: $silver;
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 2em;

  p {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 50%;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
  }
}

.textInput {
  padding: .8em;
  font-size: 1.2em;
}

.bouton {
  background-color: $gray;
  padding: 1em 2.2em 1em 2.2em;
  border-radius: .8em;
  margin-left: 2em;
  font-size: 1.2em;
  color: $silver;
}

// Signature ----------

.signature {
  display: flex;
  justify-content: center;
  align-items: center;

  .bouton {
    margin-left: 4em;
  }
}

// Section flexbox ---------

.sectionFlexbox {
  text-align: center;
  margin-top: 8em;
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.6em;
  }
  p {
    font-size: 1.4em;
    margin-bottom: 2.8em;
  }

  .flexbox {
    display: flex;
    .card {
      margin: .2em;

      img {
        border-radius: 100%;
      }
    }
  }
}

// Section Grid ---------

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: repeat(14, 80px);
  grid-gap: 10px;
  margin-left: 5.5em;
  .grid-item {
    overflow: hidden;
    background-color: #717171;
    color: #ed1b24;
    img {
      width: 125%;
      height: 100%;
    }
  }
  .grid-item-1 {
    grid-row: 3 / 6;
    grid-column: 1 / 4;
  }
  .grid-item-2 {
    grid-row: 2 / 5;
    grid-column: 4 / 10; 
  }
  .grid-item-3 {
    grid-row: 5 / 7;
    grid-column: 4 / 6;
  }
  .grid-item-4 {
    grid-row: 5 / 8;
    grid-column: 6 / 12;
  }
  .grid-item-5 {
    grid-row: 3 / 5;
    grid-column: 10 / 12;
  }
  .grid-item-6 {
    grid-row: 4 / 7;
    grid-column: 12 / 14;
  }
}

// Section Pie chart ---------

.stats {
  display: flex;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  h3 {
    font-size: 2em;
  }
  .right {
    margin-left: 2em;
  }
  .stats--container {
    display: flex;
  }
  .stats__num {
    font-size: 2.5em;
    margin-right: 1em;
  }
  .btnContainer {
    margin-top: 4em;
  }
  .bouton {
    text-decoration: none;
  }
}

// Cards ---------

.team {
  text-align: center;
  margin-top: 8em;
  margin-bottom: 4em;
  h5 {
    font-size: 2em;
    margin-bottom: 0;
  }
  p {
    font-size: 1.2em;
  }
  .team--display {
    display: flex;
    text-align: start;
    margin-left: 4em;
    margin-right: 2em;
    .icon {
      width: 1.8em;
    }
  }
  
}

// Map -----------

.map {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  iframe {
    width: 100%;
    height: 62vh;
    position: relative;
  }
  .map__form {
    background-color: $silver;
    position: absolute;
    height: 42vh;
    border-radius: 1.2em;
    padding: 1.8em;
    margin-right: .8em;
    .margin--right {
      margin-right: 1em;
    }
    .margin--top {
      margin-top: 1em;
    }
    h6 {
      font-size: 2em;
      margin-top: 0;
      margin-bottom: 0;
    }
    p{
      font-size: 1.3em;
    }
    .name {
      display: flex;
    }
    input {
      width: 100%;
      height: 2em;
    }
    .midWidth {
      width: 50%;
    }
    .message {
      height: 6em;
    }
    .boutonMargin {
      margin-top: 2em;
    }
    .bouton {
      margin-left: 0;
      text-decoration: none;
    }
  }
}

// BottomMenu --------

.bottomMenu {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
  img {
    width: 20%;
  }
  .bottomMenu__nav {
    display: flex;
    justify-content: center;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: $black;
    margin: 1em;
    font-size: 1.5em;
  }
}

// Footer ----------

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  margin-bottom: 1em;
  .icons {
    width: 2em;
    height: 2em;
  }
  .center {
    display: flex;
    align-items: center;
  }
  .right--footer {
    display: flex;
    align-items: center;
    img {
      margin-left: 1em;
    }
    a {
      margin-left: 1em;
      text-decoration: none;
      color: $black;
    }
  }
}

