* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background: rgb(202, 60, 255);
  background: radial-gradient(circle, rgb(202, 60, 255) 23%, rgb(253, 29, 29) 75%, rgb(252, 176, 69) 100%);
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu .logo {
  width: 80%;
}
.menu .mainMenu ol {
  display: flex;
  text-decoration: none;
}
.menu li {
  text-decoration: none;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.menu a {
  color: #000000;
  font-size: 1.4em;
  margin-left: 0.4em;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(253, 29, 29);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  margin-right: 8em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2em 0 1em 1em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.commentaires {
  background-color: rgba(244, 240, 240, 0.5);
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 2em;
}
.commentaires p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 50%;
  text-align: center;
}
.commentaires form {
  display: flex;
  justify-content: center;
}

.textInput {
  padding: 0.8em;
  font-size: 1.2em;
}

.bouton {
  background-color: #605656;
  padding: 0.8em 1.2em 0.8em 1.2em;
  border-radius: 0.6em;
  margin-left: 2em;
  font-size: 1.2em;
  color: rgba(244, 240, 240, 0.5);
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signature .bouton {
  margin-left: 4em;
}

.sectionFlexbox {
  text-align: center;
  margin-top: 8em;
}
.sectionFlexbox h2 {
  font-size: 3em;
}
.sectionFlexbox h3 {
  font-size: 1.6em;
}
.sectionFlexbox p {
  font-size: 1.4em;
  margin-bottom: 2.8em;
}
.sectionFlexbox .flexbox {
  display: flex;
}
.sectionFlexbox .flexbox .card {
  margin: 0.2em;
}
.sectionFlexbox .flexbox .card img {
  border-radius: 100%;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: repeat(14, 80px);
  grid-gap: 10px;
  margin-left: 5.5em;
}
.grid-container .grid-item {
  overflow: hidden;
  background-color: #717171;
  color: #ed1b24;
}
.grid-container .grid-item img {
  width: 125%;
  height: 100%;
}
.grid-container .grid-item-1 {
  grid-row: 3/6;
  grid-column: 1/4;
}
.grid-container .grid-item-2 {
  grid-row: 2/5;
  grid-column: 4/10;
}
.grid-container .grid-item-3 {
  grid-row: 5/7;
  grid-column: 4/6;
}
.grid-container .grid-item-4 {
  grid-row: 5/8;
  grid-column: 6/12;
}
.grid-container .grid-item-5 {
  grid-row: 3/5;
  grid-column: 10/12;
}
.grid-container .grid-item-6 {
  grid-row: 4/7;
  grid-column: 12/14;
}

.stats {
  display: flex;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.stats h3 {
  font-size: 2em;
}
.stats .right {
  margin-left: 2em;
}
.stats .stats--container {
  display: flex;
}
.stats .stats__num {
  font-size: 2.5em;
  margin-right: 1em;
}
.stats .btnContainer {
  margin-top: 4em;
}
.stats .bouton {
  text-decoration: none;
}

.team {
  text-align: center;
  margin-top: 8em;
  margin-bottom: 4em;
}
.team h5 {
  font-size: 2em;
  margin: 0;
  padding-right: 2em;
  margin-bottom: 0;
}
.team p {
  font-size: 1.2em;
}
.team .team--display {
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.team .team--display .icon {
  width: 1.8em;
  margin-right: 0.8em;
}
.team .team--display .team__card {
  flex-direction: column;
  background-color: rgba(244, 240, 240, 0.5);
  width: 23%;
  padding: 0.8em 2em 0.8em 2em;
  border-radius: 0.8em;
}
.team .team--display .team__card .card--icons {
  display: flex;
  align-items: flex-end;
  margin: 0.8em;
}

.map {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.map iframe {
  width: 100%;
  height: 62vh;
  position: relative;
}
.map .map__form {
  background-color: rgba(244, 240, 240, 0.5);
  position: absolute;
  height: 42vh;
  border-radius: 1.2em;
  padding: 1.8em;
  margin-right: 0.8em;
}
.map .map__form .margin--right {
  margin-right: 1em;
}
.map .map__form .margin--top {
  margin-top: 1em;
}
.map .map__form h6 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
.map .map__form p {
  font-size: 1.3em;
}
.map .map__form .name {
  display: flex;
}
.map .map__form input {
  width: 100%;
  height: 2em;
}
.map .map__form .midWidth {
  width: 50%;
}
.map .map__form .message {
  height: 6em;
}
.map .map__form .boutonMargin {
  margin-top: 2em;
}
.map .map__form .bouton {
  margin-left: 0;
  text-decoration: none;
}

.bottomMenu {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}
.bottomMenu img {
  width: 20%;
}
.bottomMenu .bottomMenu__nav {
  display: flex;
  justify-content: center;
}
.bottomMenu li {
  list-style-type: none;
}
.bottomMenu a {
  text-decoration: none;
  color: #000000;
  margin: 1em;
  font-size: 1.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  margin-bottom: 1em;
}
.footer .icons {
  width: 2em;
  height: 2em;
}
.footer .center {
  display: flex;
  align-items: center;
}
.footer .right--footer {
  display: flex;
  align-items: center;
}
.footer .right--footer img {
  margin-left: 1em;
}
.footer .right--footer a {
  margin-left: 1em;
  text-decoration: none;
  color: #000000;
}