.bouton, .signature .signature__btn {
  background-color: #605656;
  padding: 0.8em 1.2em 0.8em 1.2em;
  border-radius: 0.6em;
  margin-left: 2em;
  font-size: 1.2em;
  color: white;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .errorMessage {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(202, 60, 255);
  background: radial-gradient(circle, rgb(202, 60, 255) 23%, rgb(253, 29, 29) 75%, rgb(252, 176, 69) 100%);
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  margin-bottom: 2em;
}
.menu .logo {
  width: 80%;
}
.menu .menu__navbar ol {
  display: flex;
  text-decoration: none;
}
.menu .menu__navbar ol li {
  text-decoration: none;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.menu .menu__navbar ol li .menu__icon {
  width: 1.2em;
}
.menu .menu__navbar a {
  color: #000000;
  font-size: 1.4em;
  margin-left: 0.5em;
}
.menu .menu__navbar .arrow {
  width: 2em;
  margin-left: 1em;
}
.menu .menu__hamburger {
  display: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(244, 240, 240, 0.5);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #605656;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2em 0 1em 1em;
  background-color: rgb(252, 176, 69);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.dlc {
  background-color: rgba(244, 240, 240, 0.5);
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 2em;
}
.dlc p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 50%;
  text-align: center;
}
.dlc .dlc__form {
  display: flex;
  justify-content: center;
}
.dlc .dlc__input {
  padding: 0.8em;
}
.dlc .bouton, .dlc .signature .signature__btn, .signature .dlc .signature__btn {
  background-color: rgba(244, 240, 240, 0.5);
  border-radius: 0.8em;
  color: #000000;
  text-align: center;
}

.textInput {
  padding: 0.8em;
  font-size: 1.2em;
}

.signature {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signature .signature__btn {
  margin-left: 4em;
}

.sectionFlexbox {
  text-align: center;
  margin-top: 8em;
}
.sectionFlexbox h2 {
  font-size: 3em;
}
.sectionFlexbox h3 {
  font-size: 1.6em;
}
.sectionFlexbox p {
  font-size: 1.4em;
  margin-bottom: 2.8em;
}
.sectionFlexbox .flexbox {
  display: flex;
}
.sectionFlexbox .flexbox .card {
  margin: 0.2em;
}
.sectionFlexbox .flexbox .card img {
  border-radius: 100%;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(8, 80px);
  grid-template-columns: repeat(14, 80px);
  grid-gap: 10px;
  margin-left: 5.5em;
}
.grid-container .grid-item {
  overflow: hidden;
  background-color: #717171;
  color: #ed1b24;
}
.grid-container .grid-item img {
  width: 125%;
  height: 100%;
}
.grid-container .grid-item-1 {
  grid-row: 3/6;
  grid-column: 1/4;
}
.grid-container .grid-item-2 {
  grid-row: 2/5;
  grid-column: 4/10;
}
.grid-container .grid-item-3 {
  grid-row: 5/7;
  grid-column: 4/6;
}
.grid-container .grid-item-4 {
  grid-row: 5/8;
  grid-column: 6/12;
}
.grid-container .grid-item-5 {
  grid-row: 3/5;
  grid-column: 10/12;
}
.grid-container .grid-item-6 {
  grid-row: 4/7;
  grid-column: 12/14;
}

.stats-section {
  display: flex;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.stats-section h3 {
  font-size: 2em;
}
.stats-section .right {
  margin-left: 2em;
}
.stats-section .stats {
  display: flex;
}
.stats-section .stats__num {
  font-size: 2.5em;
  margin-right: 1em;
}
.stats-section .stats__bouton {
  position: absolute;
  margin-top: 2em;
}
.stats-section .bouton, .stats-section .signature .signature__btn, .signature .stats-section .signature__btn {
  text-decoration: none;
}

.team-section {
  text-align: center;
  margin-top: 8em;
  margin-bottom: 4em;
}
.team-section h5 {
  font-size: 2em;
  margin: 1em;
}
.team-section p {
  font-size: 1.2em;
  margin: 1em;
}
.team-section .team {
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.team-section .team .icon {
  width: 1.8em;
  margin-right: 0.8em;
}
.team-section .team h6 {
  font-size: 2em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.team-section .team .team__card {
  flex-direction: column;
  background-color: rgba(244, 240, 240, 0.5);
  width: 23%;
  padding: 0.8em 2em 0.8em 2em;
  border-radius: 0.8em;
}
.team-section .team .team__card .card__p {
  margin: 0;
}
.team-section .team .team__card .card__icons {
  display: flex;
  align-items: flex-end;
  margin: 0.8em;
}

.map {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8em 0 8em 0;
}
.map iframe {
  width: 100%;
  height: 62vh;
  position: relative;
}
.map .map__form {
  background-color: rgb(244, 240, 240);
  position: absolute;
  height: 24em;
  border-radius: 1.2em;
  padding: 1.8em;
  margin-right: 0.8em;
}
.map .map__form .margin--right {
  margin-right: 1em;
}
.map .map__form .margin--top {
  margin-top: 1em;
}
.map .map__form h6 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
.map .map__form p {
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.map .map__form .name {
  display: flex;
}
.map .map__form input {
  width: 100%;
  height: 2em;
  outline: 0;
}
.map .map__form .input-control.success {
  border-color: #09c372;
}
.map .map__form .input-control.error {
  border-color: #09c372;
}
.map .map__form .input-control .errorMessage {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
.map .map__form .midWidth {
  width: 90%;
}
.map .map__form .message {
  height: 6em;
}
.map .map__form .boutonMargin {
  margin-top: 2em;
}
.map .map__form .form__btn {
  margin-top: 1.5em;
}
.map .map__form .form__btn .bouton, .map .map__form .form__btn .signature .signature__btn, .signature .map .map__form .form__btn .signature__btn {
  margin-left: 0;
  text-decoration: none;
}

.bottomMenu {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 8em;
}
.bottomMenu img {
  width: 20%;
}
.bottomMenu .bottomMenu__link {
  font-size: 0.8em;
}
.bottomMenu .bottomMenu__nav {
  display: flex;
  justify-content: center;
}
.bottomMenu li {
  list-style-type: none;
}
.bottomMenu a {
  text-decoration: none;
  color: #000000;
  margin: 1em;
  font-size: 1.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  margin-bottom: 1em;
}
.footer .icons {
  width: 2em;
  height: 2em;
}
.footer .center {
  display: flex;
  align-items: center;
}
.footer .footer--right {
  display: flex;
  align-items: center;
}
.footer .footer--right img {
  margin-left: 1em;
}
.footer .footer--right a {
  margin-left: 1em;
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 960px) and (max-width: 1080px) {
  body .grid-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  body .grid-container .grid-item {
    margin-top: 2em;
  }
  body .team-section {
    display: flex;
    flex-direction: column;
  }
  body .team-section h5 {
    font-size: 4em;
    padding-right: 0;
  }
  body .stats-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body .stats-section .pie {
    order: 1;
  }
  body .stats-section .right {
    margin-left: 0;
  }
  body .stats-section h3 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  body .stats-section p {
    font-size: larger;
    padding-left: 2em;
    padding-right: 2em;
  }
  body .stats-section .stats {
    margin-top: 2em;
    margin-left: 2em;
  }
  body .team {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body .team .team__card {
    width: 90% !important;
    margin: 2em;
    display: flex;
  }
  body .team .team__card .card__header {
    margin-left: 2em;
  }
  body .team .team__card .card__avatar {
    width: 25%;
  }
  body .team .team__card .card--small {
    display: flex;
    align-items: center;
  }
  body .team .team__card p {
    margin-top: 2em;
  }
  body .team .team__card .card__icons {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 500px) and (max-width: 960px) {
  body .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  body .menu .menu__navbar {
    display: none;
  }
  body .menu .menu__hamburger {
    display: block;
    font-size: 6em;
    margin-top: 0.4em;
    margin-right: 0.5em;
  }
  body .commentaires {
    height: 25em;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    font-size: 2em;
  }
  body .commentaires p {
    margin: 0;
    width: 100%;
    padding-bottom: 4em;
    line-height: 1.4em;
  }
  body .commentaires .commentaires__form {
    display: flex;
    flex-direction: column;
    font-size: large;
  }
  body .commentaires .commentaires__form .commentaires__btn {
    width: 90%;
    margin: auto;
    margin-top: 6em;
  }
  body .signature {
    display: flex;
    flex-direction: column;
    margin-bottom: 12em;
  }
  body .signature img {
    width: 100%;
    padding: 2em;
  }
  body .signature .signature__form {
    width: 100%;
  }
  body .signature .signature__btn {
    margin-left: 2em;
    width: 90%;
  }
  body .sectionFlexbox h2 {
    font-size: 5em;
    margin-bottom: 1em;
  }
  body .sectionFlexbox p {
    padding: 2em;
  }
  body .sectionFlexbox .flexbox {
    display: flex;
    flex-direction: column;
  }
  body .sectionFlexbox .flexbox .card__icon {
    width: 20em;
    margin-bottom: 2em;
  }
  body .sectionFlexbox .flexbox h3 {
    font-size: 3em;
  }
  body .sectionFlexbox .flexbox P {
    font-size: 2em;
  }
  body .grid-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 2em;
  }
  body .grid-container .grid-item {
    margin-top: 2em;
  }
  body .stats-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body .stats-section .pie {
    order: 1;
  }
  body .stats-section .right {
    margin-left: 0;
  }
  body .stats-section h3 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  body .stats-section p {
    font-size: larger;
    padding-left: 2em;
    padding-right: 2em;
  }
  body .stats-section .stats {
    margin-top: 2em;
    margin-left: 2em;
  }
  body .stats-section .stats__bouton {
    margin-bottom: 3em;
  }
  body .team-section {
    display: flex;
    flex-direction: column;
  }
  body .team-section h5 {
    font-size: 4em;
    padding-right: 0;
  }
  body .team {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  body .team .team__card {
    width: 90% !important;
    margin: 2em;
    display: flex;
  }
  body .team .team__card .card__header {
    margin-left: 2em;
  }
  body .team .team__card .card__avatar {
    width: 25%;
  }
  body .team .team__card .card--small {
    display: flex;
    align-items: center;
  }
  body .team .team__card p {
    margin-top: 2em;
  }
  body .team .team__card .card__icons {
    flex-direction: row-reverse;
  }
  body .map__form .name {
    flex-direction: column;
  }
  body .map__form .name .midWidth {
    width: 100%;
    margin-top: 1em;
  }
  body .bottomMenu {
    font-size: 2em;
    display: flex;
    justify-content: space-around;
  }
  body .bottomMenu .logo {
    width: 25%;
  }
  body .bottomMenu .bottomMenu__nav {
    flex-direction: column;
  }
}